APP_NAME=DAKS API
APP_ENV=local
DEBUG=true

HOST=127.0.0.1
PORT=8000

DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=daks
DATABASE_USER=daks
DATABASE_PASSWORD=change-me

DATABASE_ECHO=false

PUBLIC_BASE_URL=http://127.0.0.1:8000

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_EMAIL=
MAIL_FROM_NAME=DAKS


ADMIN_JWT_SECRET_KEY=IpitPtq2UJZcez-zlhW_habYu_OPDlHQMW02G0hMGlPFezxRsU63kgecXSYhnqmPIuaOPTqfAYngjdoxtiEGKg
ADMIN_JWT_ALGORITHM=HS256

ADMIN_ACCESS_TOKEN_EXPIRE_MINUTES=30
ADMIN_REFRESH_TOKEN_EXPIRE_DAYS=7

COOKIE_SECURE=false
COOKIE_SAMESITE=lax


AWS_REGION=ap-northeast-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

S3_BUCKET_NAME=daks-assets
S3_PUBLIC_BASE_URL=https://daks-assets.s3.ap-northeast-2.amazonaws.com
S3_SPEAKER_IMAGE_PREFIX=speakers


TOSS_TICKET_PRODUCT_LINK=https://pay.toss.im/...
TOSS_TICKET_PRODUCT_KEY=실제_상품키
TICKET_PAYMENT_NAME='2026 Digital Asset Korea Summit Ticket'
TICKET_EXPECTED_AMOUNT=19000